# Segmenting and Clustering Neighborhoods in Toronto

### Import libraries

In [23]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

### Web Scraping Table

In [24]:
web = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
soup = BeautifulSoup(web.text, 'html.parser')
table = soup.find('table', class_ = 'wikitable sortable')

In [25]:
df_wiki = pd.read_html(str(table), header = 0)[0]
df_wiki.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

### Clean Table

#### Ignore cells with a borough that is Not assigned.

In [26]:
df_wiki = df_wiki[df_wiki["Borough"]!= "Not assigned"]

In [27]:
df_wiki

    Postcode           Borough             Neighbourhood
2        M3A        North York                 Parkwoods
3        M4A        North York          Victoria Village
4        M5A  Downtown Toronto              Harbourfront
5        M6A        North York          Lawrence Heights
6        M6A        North York            Lawrence Manor
..       ...               ...                       ...
281      M8Z         Etobicoke  Kingsway Park South West
282      M8Z         Etobicoke                 Mimico NW
283      M8Z         Etobicoke        The Queensway West
284      M8Z         Etobicoke     Royal York South West
285      M8Z         Etobicoke            South of Bloor

[210 rows x 3 columns]

#### Join neighbourhood with same postcode

In [28]:
df_wiki = df_wiki.groupby(["Postcode", "Borough"], as_index=False).agg(lambda x: ", ".join(x))

#### If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [29]:
for index, row in df_wiki.iterrows():
    if row['Neighbourhood'] == 'Not assigned':
        row['Neighbourhood'] = row['Borough']

In [30]:
df_wiki

    Postcode      Borough                                      Neighbourhood
0        M1B  Scarborough                                     Rouge, Malvern
1        M1C  Scarborough             Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough                  Guildwood, Morningside, West Hill
3        M1G  Scarborough                                             Woburn
4        M1H  Scarborough                                          Cedarbrae
..       ...          ...                                                ...
98       M9N         York                                             Weston
99       M9P    Etobicoke                                          Westmount
100      M9R    Etobicoke  Kingsview Village, Martin Grove Gardens, Richv...
101      M9V    Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
102      M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

#### Shape of dataframe

In [31]:
df_wiki.shape

(103, 3)

#### Get latitude and longitude

In [37]:
df_geo = pd.read_csv("http://cocl.us/Geospatial_data")
df_geo.columns

Index(['Postal Code', 'Latitude', 'Longitude'], dtype='object')

In [36]:
df_canada = df_wiki.merge(df_geo,left_on='Postcode', right_on='Postal Code' )

In [38]:
df_canada.head()

,Postcode,Borough,Neighbourhood,Postal Code,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",M1B,43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",M1C,43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",M1E,43.763573,-79.188711
3,M1G,Scarborough,Woburn,M1G,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,M1H,43.773136,-79.239476